body {
    background-color:whitesmoke;
    color: black;
    margin: 40px;
    font-family:Helvetica;
}


.banner{
    color:gray;
}

.gif{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.title{
    font-size: 30px;
    padding: 20px;
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;


}

.work{
    padding: 40px;
}

.mockups{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}

.mock{
    padding:50px;
    transition: transform .2s;
}

.mock:hover{
    transform: scale(1.5);
}


.container{
    flex-direction: row;
    padding: 30px;
}

h1 {
    color:dodgerblue;
}



/* unvisited link */
a:link {
    color: cornflowerblue;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color:steelblue;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: cornsilk;
    background-color:darkorange;
  }
  
  /* selected link */
  a:active {
    color:cornsilk;
    background-color:steelblue;
  }

.about{
    padding: 30px;
  }


.container{
    flex-direction: row;
    display: flex;
}

.item{
    padding: 10px;
}

.paragraph{
    padding: 30px;
    width: 400px;
}

.contact{
    padding: 30px;
    width: 550px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}









