* {
    box-sizing: border-box;
}

body{
    margin:0;
    background-color: black;
}


/* unvisited link */
a:link {
  color: whitesmoke;
  text-decoration: none;
  text-decoration: underline;

}

/* visited link */
a:visited {
  color:whitesmoke;
  text-decoration: none;
  text-decoration: underline;
}

/* mouse over link */
a:hover {
  color: cornsilk;
  background-color:darkorange;
  text-decoration: none;
}

/* selected link */
a:active {
  color:cornsilk;
  background-color:steelblue;
  text-decoration: none;

}


.ny{
  display:flex;
  width:100vw;
  height:100vh;
  align-items: center;
  justify-content: space-around;
}


.border {
    width:80vh;
    height:80vh;
    background:rgba(189, 189, 254, 0);
    margin:0 auto;
    border-radius:50%;
    position:relative;
    bottom:650px;
  }
  
  .line {
    background:rgba(255, 0, 0, 0);
    position:absolute;
    height:100%;
    width:40px;
    left:calc(50% - 20px);
  }
  
  
  
  .circle {
    background: coral;
    width:40px;
    height:40px;
    border-radius:60%;
    animation: move 3s infinite alternate ease-in-out;
    position:absolute;
  }
  


  .l2 {
    transform:rotate(270deg);
  }
  .l2 .circle {
    animation-delay: 1.5s;
  }




  .l3{
    transform: rotate(135deg);
  }
  .l3 .circle {
    animation-delay: 3.75s;
  }




  .l4{
    transform: rotate(45deg);
  }
  .l4 .circle {
    animation-delay:5.25s;
  }



  
  .l5{
    transform: rotate(112.5deg);
  }
  .l5 .circle {
    animation-delay:10.125s;
  }




  .l6{
    transform: rotate(22.5deg);
  }
  .l6 .circle {
    animation-delay: 11.625s;
  }



  .l7{
    transform: rotate(157.5deg);
  }
  .l7 .circle {
    animation-delay: 15.375s;
  }



  .l8{
    transform: rotate(67.5deg);
  }
  .l8 .circle {
    animation-delay: 16.875s;
  }





  .restart{
    color: whitesmoke;
    position: relative;
    bottom: 1350px;
    left: 15px;
  }

  .bts{
    color: whitesmoke;
    position: relative;
    bottom: 1340px;
    left: 15px;
  }





  
  @keyframes move {
    0% {
      bottom:calc(100% - 30px)
    }
    100% {
      bottom:0;
    }
  }